
<section class="section section_aggravation">
    <div class="container">
        <div class="aggravation">
            <div class="section__title aggravation__title" data-aos="fade-up"><mark>К обострениям</mark> псориаза приводят:</div>
            <div class="aggravation__body">
                <div class="aggravation__item" data-aos="fade-right"><span>стрессы</span></div>
                <div class="aggravation__item aggravation__item_right" data-aos="fade-left"><span>инфекции</span></div>
                <div class="aggravation__item" data-aos="fade-right"><span>холодная и сухая погода</span></div>
                <div class="aggravation__item aggravation__item_right" data-aos="fade-left"><span>алкоголь и курение</span></div>
                <div class="aggravation__item" data-aos="fade-right"><span>повреждения кожи</span></div>
                <div class="aggravation__item aggravation__item_right" data-aos="fade-left"><span>лишний вес</span></div>
                <div class="aggravation__item" data-aos="fade-right"><span>медикаменты</span></div>
            </div>
        </div>
    </div>
</section>
