
<section class="section section_aggravation">
    <div class="container">
        <div class="aggravation">
            <div class="section__title aggravation__title"><mark>К обострениям</mark> псориаза приводят:</div>
            <div class="aggravation__body">
                <div class="aggravation__item"><span>стрессы</span></div>
                <div class="aggravation__item aggravation__item_right"><span>инфекции</span></div>
                <div class="aggravation__item"><span>холодная и сухая погода</span></div>
                <div class="aggravation__item aggravation__item_right"><span>алкоголь и курение</span></div>
                <div class="aggravation__item"><span>повреждения кожи</span></div>
                <div class="aggravation__item aggravation__item_right"><span>лишний вес</span></div>
                <div class="aggravation__item"><span>медикаменты</span></div>
            </div>
        </div>
    </div>
</section>
