
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы о креме Dr.Derm </div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Anna Brut, <mark>31 год</mark></div>
                    <div class="commits__description">
                        Самое ужасное в псориазе – то, что он морально подавляет. Бляшки шелушатся, чешутся, разрастаются, так на тебя еще все смотрят с брезгливостью. Я устала от реакции людей. Про одежду я вообще молчу, только натуральные ткани и свободный стиль. Самый ужас был, когда псориаз начался на голове. Невозможно жить с этим. Меня ждала бы депрессия, если бы не опробовала Dr.Derm. То что он сотворил с моей кожей – чудо. Это единственное средство, которое помогло мне надолго. Я наконец-то стала чувствовать себя полноценным человеком. Спасибо вам!
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Liza Hall, <mark>40 лет</mark></div>
                    <div class="commits__description">
                        Из-за псориаза я стала настоящим отшельником. В периоды обострения даже не выходила на улицу. Перепробовала всё что можно: мази, кремы, обёртывания, солевые процедуры, ездила на восстановительные курорты. Они помогали, только недолго. Всё время думала, что сложные болезни лечат, а от псориаза почему не могут придумать лекарство? И, кажется, мои молитвы были услышаны. Когда в руки мне попал Dr.Derm, то я не возлагала на него надежд. А этот "очередной крем" помог мне! Через три недели пятна посветлели, сухость ушла, через месяц с небольшим – прошли полностью. Уже полгода у меня чистая кожа!
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Simon Burke, <mark>28 лет</mark></div>
                    <div class="commits__description">
                        Псориаз начался у меня в юности во время экзаменов, видимо, из-за сильного стресса. Начался с шелушения, а уже через два месяца я ходил только в лонгсливах, так как моими руками можно было напугать даже самого закаленного хоррор-любителя. Это были не болячки, а уже какие-то шматки мяса. Врачи сказали псориаз. Назначали гормональные мази, крема, таблетки и даже уколы. Только все без толку. Унять зуд помогала только ледяная вода. Заживало всё долго, а потом тут же начиналось снова. Спасл меня крем Dr.Derm и диета. Скоро будет четыре месяца, как я забыл об этом, и не передать словами, как я счастлив.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
