
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__logo" data-aos="fade-up">Dr.Derm</div>
            <div class="face__wrap">
                <div class="face__box">
                    <div class="section__title face__title" data-aos="fade-up"><mark>Dr. Derm –</mark> здоровая кожа без проблем</div>
                    <div class="face__list">
                        <div class="face__check" data-aos="fade-right"><mark>Быстро</mark> убирает зуд и шелушение</div>
                        <div class="face__check" data-aos="fade-right"><mark>Заживляет</mark> псориатические бляшки</div>
                        <div class="face__check" data-aos="fade-right"><mark>Устраняет</mark> причины псориаза</div>
                        <div class="face__check" data-aos="fade-right"><mark>Предотвращает</mark> распространение болезни </div>
                    </div>
                    <div class="face__product">
                        <img src="../media/product.png" alt="">
                    </div>
                </div>
                <div class="face__box">
                    <%- include('form') %>
                </div>
            </div>
        </div>
    </div>
</section>
