
<section class="section section_healthy">
    <div class="container">
        <div class="healthy">
            <div class="healthy__box">
                <div class="healthy__media">
                    <div class="healthy__animation">
                        <div class="healthy__circle"></div>
                        <div class="healthy__circle"></div>
                        <div class="healthy__circle"></div>
                        <div class="healthy__circle"></div>
                        <div class="healthy__circle"></div>
                    </div>
                    <img src="../media/healthy/img-1.png" alt="">
                    <span>здоровая кожа</span>
                </div>
                <div class="healthy__description">
                    <div class="section__title healthy__title">Что происходит с кожей <mark>при псориазе?</mark></div>
                    <mark>В эпидермисе 5 слоев.</mark> Его основу составляют кератиноциты, которые в среднем живут 28 дней. При псориазе кератиноциты размножаются в несколько раз быстрее, не успевая созреть и состариться. Вместо 28 они живут всего 4-5 дней!
                </div>
            </div>
            <div class="healthy__box">
                <div class="healthy__description">
                    <span>Воспаления провоцирует сбой в иммунной системе. Несозревшие кератиноциты не могут самостоятельно покинуть кожу. Они накапливаются на поверхности, образуя псориатические бляшки.</span>
                    Воспаление захватывает и дерму, поэтому в процесс вовлекаются потовые и сальные железы. Уменьшается их секреция, кожа лишается воды и жира, сохнет, трескается.
                </div>
                <div class="healthy__media healthy__media_left">
                    <div class="healthy__animation healthy__animation_right">
                        <div class="healthy__circle"></div>
                        <div class="healthy__circle"></div>
                        <div class="healthy__circle"></div>
                        <div class="healthy__circle"></div>
                        <div class="healthy__circle"></div>
                    </div>
                    <span>кожа, пораженная псориазом</span>
                    <img src="../media/healthy/img-2.png" alt="">
                </div>
            </div>
            <div class="healthy__footer">
                <p>
                    Процесс развития псориаза неконтролируемый. Даже зная о своей  наследственности, люди не могут предупредить системное поражение кожи.
                </p>
            </div>
        </div>
    </div>
</section>
