
<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="section__title help__title">Мы позаботились о людях, склонных к проблемной коже. <mark>Больше не нужно скрываться от мира!</mark></div>
            <div class="help__subtitle">Dr. Derm действительно работает</div>
            <div class="help__list">
                <div class="help__list-item">Восстанавливает <span>поврежденную</span> ткань</div>
                <div class="help__list-item">Мгновенно <span>облегчает</span> зуд</div>
                <div class="help__list-item">Останавливает <span>воспалительный</span> процесс</div>
            </div>
            <div class="help__info">
                <p>Взаимодействие натуральных компонентов крема улучшает обменные процессы организма, за счет чего происходит восстановление. При этом, зуд и шелушение проходят уже после первого применения. </p>
                <p>После начала лечением кремом Dr. Derm, останавливается процесс распространения болезни
                и запускается регенерация поврежденной папулами ткани. </p>
                <p>После курсового лечения, кожа полностью обновится. Восстановится естественный процесс деления клеток
                с циклом 28 дней. </p>
            </div>
            <div class="help__product">
                <img src="../media/product.png" alt="">
            </div>
        </div>
    </div>
</section>
