

<section class="section section_mistakes">
    <div class="container">
        <div class="mistakes">
            <div class="section__title mistakes__title" data-aos="fade-up"><mark>Ошибки</mark> при <span>лечении псориаза</span></div>
            <div class="mistakes__box">
                <div class="mistakes__item" data-aos="fade-right">
                    <div class="mistakes__body">
                        <div class="mistakes__item-title">Неправильный уход</div>
                        <div class="mistakes__item-description">
                            При псориазе кожа становится сухой и грубой, а роговой слой эпидермиса значительно утолщается. Откажитесь от питательных, увлажняющих и кремов с отдушками. Используйте специализированные средства, которые делают кожу более пластичной. Частое мытье рук, как и любые банные процедуры, сведите до минимума, так как истончается защитный слой, что приводит к еще большему распространению бляшек.
                        </div>
                    </div>
                </div>
                <div class="mistakes__item mistakes__item_right" data-aos="fade-left">
                    <div class="mistakes__body mistakes__body_right">
                        <div class="mistakes__item-title">Гормональная терапия</div>
                        <div class="mistakes__item-description">
                            Гормональная терапия развивает привыкание и не устраняет причины заболевания. Она помогает добиться косметического эффекта, сгладив папулы и покраснения. Пользуясь гормональными средствами, эпидермис истончается и теряет защитный слой, что может привести к раку кожи.
                        </div>
                    </div>
                </div>
                <div class="mistakes__item" data-aos="fade-right">
                    <div class="mistakes__body">
                        <div class="mistakes__item-title">Диета</div>
                        <div class="mistakes__item-description">
                            Профилактика развития псориаза предусматривает исключение из рациона продуктов, в составе которых присутствуют холестерин, углеводы, белки и жиры. Неправильно подобранная диета способна вызвать сильное обострение. При соблюдении питания с индивидуальным набором продуктов вместе с терапией, можно добиться ремиссии.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
