
<section class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="section__title problems__title" data-aos="fade-up">Вы устали <mark>скрывать свое тело?</mark></div>
            <div class="problems__box">
                <div class="problems__item problems__item_white" data-aos="fade-right"><p>— Не по себе от взглядов окружающих?</p></div>
                <div class="problems__item" data-aos="fade-right"><p>— Вы устали скрывать свое тело?</p></div>
                <div class="problems__item problems__item_white" data-aos="fade-right"><p>— Сложно подобрать одежду?</p></div>
                <div class="problems__item" data-aos="fade-right"><p>— Люди боятся, что это <span>заразно и сторонятся?</span></p></div>
                <div class="problems__item problems__item_white" data-aos="fade-right"><p>— От увлажнения воздуха <span>нет толка?</span></p></div>
                <div class="problems__item" data-aos="fade-right"><p>— Диета <span>не действует?</span></p></div>
            </div>
            <div class="problems__box problems__box_right">
                <div class="problems__item problems__item_white" data-aos="fade-left"><p>— Псориаз долго <span>не проходит?</span></p></div>
                <div class="problems__item" data-aos="fade-left"><p>— Устали от <span>невыносимого</span> зуда?</p></div>
            </div>
        </div>
    </div>
</section>
