
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="professional__body">
                <div class="section__title professional__title">Мнение <span>специалиста:</span></div>
                <div class="professional__info">
                    <p>
                        <mark>При псориазе важно, чтобы терапия была максимально простой. Натуральные крема – это будущее в области лечения псориаза, которое, к счастью, доступно уже сейчас. Гормоны, иммуносупрессанты и фототерапия вызывают не только быстрое привыкание, но и атрофию кожи, которая в последствии может перерасти в рак. </mark>
                    </p>
                    <p>Крем Dr.Derm отличается от привычной наружной терапии отсутствием компонентов содержащих стероиды и вызывающих привыкание. Натуральный состав справляется не только с заживлением бляшек (как низкой, так и высокой степени), но и предотвращает дальнейшее распространение псориаза. </p>
                    <p>При курсовом применении крема Dr.Derm, очаги возбудителя псориаза угасают, останавливается излишняя пролиферация клеток кожи.</p>
                </div>
                <div class="professional__footer">
                    <div class="professional__name">
                        <mark>Claude Pearson,</mark>
                        <span>д.м.н., врач высшей категории, дерматолог</span>
                    </div>
                    <div class="professional__id">
                        <img src="../media/professional/id.png" alt="">
                    </div>
                </div>
            </div>
            <div class="professional__media">
                <img src="../media/professional/human.png" alt="">
            </div>
        </div>
    </div>
</section>
