
<section class="section section_step">
    <div class="container">
        <div class="step">
            <div class="section__title step__title" data-aos="fade-up"><mark>Всего 4 недели</mark> и больше не придется скрываться от мира!</div>
            <div class="step__body">
                <div class="step__item" data-aos="zoom-in-right">
                    <div class="step__media">
                        <img src="../media/step/img-1.jpg" alt="">
                    </div>
                    <div class="step__box">
                        <div class="step__name">1 неделя</div>
                        <div class="step__description">Проходит воспаление, зуд, шелушение, останавливается разрастание бляшек. </div>
                    </div>
                </div>
                <div class="step__item" data-aos="zoom-in-down">
                    <div class="step__media">
                        <img src="../media/step/img-2.jpg" alt="">
                    </div>
                    <div class="step__box">
                        <div class="step__name">2 неделя</div>
                        <div class="step__description">Запускается процесс регенерации поврежденной ткани за счет нормализации цикла деления клеток. </div>
                    </div>
                </div>
                <div class="step__item" data-aos="zoom-in-down">
                    <div class="step__media">
                        <img src="../media/step/img-3.jpg" alt="">
                    </div>
                    <div class="step__box">
                        <div class="step__name">3 неделя</div>
                        <div class="step__description">Нормализуется рН организма, повышается тонус кожных покровов. Кожа становится упругой и эластичной.</div>
                    </div>
                </div>
                <div class="step__item" data-aos="zoom-in-left">
                    <div class="step__media">
                        <img src="../media/step/img-4.jpg" alt="">
                    </div>
                    <div class="step__box">
                        <div class="step__name">4 неделя</div>
                        <div class="step__description"> При соблюдении диеты, предотвращается  повторное обострение болезни.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
