
<section class="section section_universal">
    <div class="container">
        <div class="universal">
            <div class="universal__logo">
                <span>DR. Derm</span>
            </div>
            <div class="section__title universal__title" data-aos="fade-up">Dr.Derm универсальный натуральный крем, который помогает при всех видах псориаза:</div>
            <div class="universal__box">
                <div class="universal__item" data-aos="zoom-in">
                    <img src="../media/universal/img-1.jpg" alt="">
                    <div class="universal__name">простой</div>
                </div>
                <div class="universal__item" data-aos="zoom-in">
                    <img src="../media/universal/img-2.jpg" alt="">
                    <div class="universal__name">пустулезный</div>
                </div>
                <div class="universal__item" data-aos="zoom-in">
                    <img src="../media/universal/img-3.jpg" alt="">
                    <div class="universal__name">каплевидный</div>
                </div>
                <div class="universal__item" data-aos="zoom-in">
                    <img src="../media/universal/img-4.jpg" alt="">
                    <div class="universal__name">экссудативный</div>
                </div>
                <div class="universal__item" data-aos="zoom-in">
                    <img src="../media/universal/img-5.jpg" alt="">
                    <div class="universal__name">артропатический</div>
                </div>
                <div class="universal__item" data-aos="zoom-in">
                    <img src="../media/universal/img-6.jpg" alt="">
                    <div class="universal__name">инверсный</div>
                </div>
            </div>
        </div>
    </div>
</section>
