
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="warning__box">
                <div class="warning__media">
                    <div class="warning__media-item">
                        <img src="../media/warning/img-1.png" alt="">
                    </div>
                    <div class="warning__media-item">
                        <img src="../media/warning/img-2.png" alt="">
                    </div>
                    <div class="warning__media-item">
                        <img src="../media/warning/img-3.png" alt="">
                    </div>
                    <div class="warning__media-item">
                        <img src="../media/warning/img-4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="warning__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="warning__box">
                <div class="section__title warning__title">Остерегайтесь подделок!</div>
                <div class="warning__description">
                    <mark>В связи с огромной популярностью крема Dr.Derm, участились случаи фальсификации.</mark> Оригинальный крем от псориаза Dr.Derm можно приобрести только на этом сайте.
                </div>
            </div>
        </div>
    </div>
</section>
