
<section class="section section_why">
    <div class="container">
        <div class="why">
            <div class="section__title why__title">Почему Dr. Derm <mark>эффективен?</mark></div>
            <div class="why__body">
                <div class="why__box">
                    <div class="why__item">
                        <div class="why__item-body">
                            <div class="why__media">
                                <img src="../media/why/img-1.jpg" alt="">
                            </div>
                            <div class="why__name">Золотой Ус</div>
                            <div class="why__description">Снимает воспаление и способствует заживлению бляшек, нормализует обновление клеток кожи, улучшает микроциркуляцию крови.</div>
                        </div>
                    </div>
                    <div class="why__item">
                        <div class="why__item-body">
                            <div class="why__media">
                                <img src="../media/why/img-2.jpg" alt="">
                            </div>
                            <div class="why__name">Масло ши</div>
                            <div class="why__description">Снижает сухость, способствует заживлению папул и восстанавливает естественную фактуру кожи.</div>
                        </div>
                    </div>
                    <div class="why__item">
                        <div class="why__item-body">
                            <div class="why__media">
                                <img src="../media/why/img-3.jpg" alt="">
                            </div>
                            <div class="why__name">Шалфей</div>
                            <div class="why__description">Обладает антисептическим действием, снимает отечность, шелушение и участвует в рассасывании псориатических бляшек.</div>
                        </div>
                    </div>
                </div>
                <div class="why__box">
                    <div class="why__item why__item_right">
                        <div class="why__item-body">
                            <div class="why__media">
                                <img src="../media/why/img-4.jpg" alt="">
                            </div>
                            <div class="why__name">Сухой <span>экстракт алоэ</span></div>
                            <div class="why__description">Помогает поддерживать нормальный уровень рH, оказывает общеукрепляющее, противовоспалительное и успокаивающее воздействие на пораженные участки кожи. Обладает освежающим и расслабляющим эффектом, насыщает кожу необходимой  влагой.</div>
                        </div>
                    </div>
                    <div class="why__item why__item_right">
                        <div class="why__item-body">
                            <div class="why__media">
                                <img src="../media/why/img-5.jpg" alt="">
                            </div>
                            <div class="why__name">Масло семян <span>белой пихты</span></div>
                            <div class="why__description">Имеет антибактериальное, антиоксидантное и регенерирующее действие. Повышает тонус кожных покровов, делает кожу упругой и эластичной.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="why__product">
                <img src="../media/product.png" alt="">
            </div>
        </div>
    </div>
</section>
