
.aggravation__title {
    margin-bottom: 100px;
    font-size: 54px;
    line-height: 54px;
    color: #fff;
    text-align: center;

    & mark {
        display: block;
        color: #fac8b2;
    }
}

.aggravation__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -45px;
}

.aggravation__item {
    display: inline-flex;
    flex: 0 0 50%;
    margin-top: 45px;

    & span {
        display: inline-block;
        padding: 15px;
        background-color: #f8ca10;
        font-size: 22px;
        font-weight: 500;
        border-radius: 5px;
        box-shadow: 12px 12px 5px rgba(0, 0, 0, .3);
    }

    &_right {
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .aggravation__title {
        margin-bottom: 30px;
    }

    .aggravation__body {
        margin-top: -20px;
    }

    .aggravation__item {
        margin-top: 20px;

        & span {
            display: inline-flex;
            align-items: center;
            max-width: 150px;
            padding: 10px;
            font-size: 16px;
        }
    }
}

@media (max-width: 480px) {
    .aggravation__item {
        flex-basis: 100%;
        justify-content: flex-start;

        & span {
            max-width: 100%;
            width: 100%;
        }

        &:nth-child(6) {
            & span {
                width: auto;
            }
        }

        &:nth-child(7) {
            & span {
                width: auto;
            }
        }
    }
}
