
.commits__title {
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    font-size: 39px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
}

.commits__box {
    & .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 10px !important;
    }

    & .owl-dot {
        width: 15px !important;
        height: 15px !important;
        margin-right: 3px !important;
        margin-left: 3px !important;
        background-color: #000 !important;
        border-radius: 50% !important;

        &.active {
            background-color: #c8a77a !important;
        }

        &:focus {
            outline: none;
        }
    }
}

.commits__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 23px;
    margin-top: 45px;
    background-color: #fff;
    border: 2px solid #000;
}

.commits__face {
    position: absolute;
    top: -41px;
    width: 85px;
    overflow: hidden;
    border: 5px solid #f8f8f8;
    border-radius: 50%;
    border: 4px solid #13ae8b;
}

.commits__name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;

    & mark {
        color: #13ae8b;
    }
}

.commits__description {
    width: 100%;
    line-height: 21px;
}

.commits__star {
    display: flex;
    margin-right: auto;
    margin-top: 20px;
}

.commits__star-item {
    width: 32px;
    height: 30px;
    background-image: url("../media/commits/star.png");
    background-repeat: no-repeat;
    background-size: cover;

    & + & {
        margin-left: 5px;
    }
}

@media (max-width: 1030px) {
    .commits__item {
        width: 320px;
        padding: 20px 23px;
    }
}

@media (max-width: 768px) {
    .commits__box {
        & .owl-nav {
            position: absolute;
            top: 31px;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            width: 100%;

            & button {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-image: url("../media/commits/next.svg") !important;
                background-repeat: no-repeat !important;

                & span {
                    display: none;
                }

                & + button {
                    margin-left: 200px;
                }

                &:focus {
                    outline: none;
                }
            }

            & .owl-prev {
                transform: rotate(180deg);
            }
        }
    }

    .commits__item {
        width: auto;
    }

    .commits__title {
        font-size: 47px;
    }
}

@media (max-width: 480px) {
    .commits__title {
        font-size: 37px;
    }

    .commits__description {
        font-size: 18px;
        line-height: 1.4;
    }

    .commits__item {
        padding: 15px;
    }
}
