
.face__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.face__logo {
    position: relative;
    max-width: 100px;
    padding: 7px 7px 5px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #4bab90;
    border-radius: 3px;

    &::before {
        position: absolute;
        top: 50%;
        right: calc(100% + 20px);
        width: 70px;
        height: 10px;
        content: '';
        background-image: url('../media/face/logo-before.png');
        background-repeat: no-repeat;
        transform: translateY(-50%);
    }

    &::after {
        position: absolute;
        top: 50%;
        left: calc(100% + 20px);
        width: 70px;
        height: 10px;
        content: '';
        background-image: url('../media/face/logo-after.png');
        background-repeat: no-repeat;
        transform: translateY(-50%);
    }
}

.face__title {
    max-width: 340px;
    margin-bottom: 30px;
    font-size: 54px;
    line-height: 54px;
    color: #fff;

    & mark {
        font-weight: 400;
        color: #fff;
    }
}

.face__check {
    position: relative;
    max-width: 230px;
    min-height: 59px;
    padding: 15px 17px 15px 60px;
    font-weight: 500;
    color: #fff;
    background-color: #225160;
    border-radius: 3px;

    & + & {
        margin-top: 15px;
    }

    &::before {
        position: absolute;
        top: 15px;
        left: 17px;
        width: 30px;
        height: 32px;
        content: '';
        background-image: url("../media/face/check.png");
        background-repeat: no-repeat;
    }

    & mark {
        color: #c6e493;
    }
}

.face__product {
    position: absolute;
    bottom: -30px;
    left: 50%;
    z-index: 1;
    max-width: 260px;
    transform: translateX(-50%);

    &::before {
        position: absolute;
        bottom: 0;
        left: -95px;
        z-index: -1;
        width: 425px;
        height: 321px;
        content: '';
        background-image: url("../media/product-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1030px) {
    .face__title {
        margin-bottom: 30px;
    }

    .face__product {
        bottom: -25px;
        max-width: 180px;
        margin-left: -30px;

        &::before {
            left: -22px;
            width: 220px;
            height: 166px;
        }
    }

    .face__check {
        max-width: 230px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .face__wrap {
        flex-direction: column;
    }

    .face__title {
        max-width: 100%;
        text-align: center;
    }

    .face__check {
        max-width: 100%;
    }

    .face__product {
        position: static;
        display: inline-block;
        width: 140px;
        margin-right: 0;
        margin-left: 0;
        transform: translateX(0);

        &::before {
            width: 180px;
            height: 136px;
        }
    }

    .face__list {
        display: inline-block;
        width: calc(100% - 160px);
        margin-right: 15px;
        margin-bottom: 30px;
        vertical-align: top;
    }

    .face__subtitle {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .face__logo {
        display: block;
        width: 120px;
        margin-right: auto;
        margin-left: auto;
    }

    .face__check {
        max-width: 100%;
        min-height: 36px;
        padding: 10px 10px 10px 40px;
        font-size: 14px;

        &::before {
            top: 9px;
            left: 12px;
            width: 20px;
            height: 18px;
            background-size: cover;
        }
    }

    .face__product {
        width: 30%;

        &::before {
            display: none;
        }
    }

    .face__list {
        width: calc(70% - 20px);
    }
}
