
.healthy {
    position: relative;
    z-index: 1;
}

.healthy__box {
    display: flex;
    justify-content: space-between;

    & + & {
        margin-top: 30px;
    }
}

.healthy__media {
    position: relative;
    flex: 0 0 auto;
    margin-right: 30px;
    margin-bottom: auto;
    text-align: center;

    & img {
        display: block;
    }

    & span {
        position: relative;
        display: inline-block;
        margin-top: 5px;
        font-family: "Caveat", sans-serif;
        font-size: 31px;
        font-weight: 700;
        color: #fff;

        &::before {
            position: absolute;
            top: 0;
            left: 100%;
            width: 34px;
            height: 20px;
            margin-right: -20px;
            content: '';
            background-image: url("../media/healthy/arrow-1.png");
            background-repeat: no-repeat;
        }
    }

    &_left {
        padding-left: 55px;
        margin-left: 30px;

        & span {
            position: absolute;
            top: 145px;
            left: -95px;
            max-width: 220px;
            line-height: 22px;
            text-align: left;
            transform: rotate(-90deg);

            &::before {
                top: 15px;
                width: 32px;
                height: 37px;
                margin-left: -15px;
                background-image: url("../media/healthy/arrow-2.png");
            }
        }
    }
}

.healthy__animation {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    margin-left: 115px;
    transform: translate(-50%, -50%);

    &_right {
        margin-left: 35px;

        & .healthy__circle {
            border-color: #711237;
            animation: circle 7s ease infinite;
        }
    }
}

.healthy__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid #3c3b40;
    border-width: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: circle 5s ease-out infinite;

    &:nth-child(2) {
        animation-delay: 0.5s;
    }

    &:nth-child(3) {
        animation-delay: 1s;
    }

    &:nth-child(4) {
        animation-delay: 1.5s;
    }

    &:nth-child(5) {
        animation-delay: 2s;
    }
}

.healthy__title {
    margin-bottom: 15px;
    font-size: 54px;
    line-height: 54px;
    color: #fff;

    & mark {
        color: #fac8b2;
    }
}

.healthy__description {
    position: relative;
    z-index: 1;
    max-width: 517px;
    font-size: 17px;
    line-height: 22px;
    color: #fff;

    & mark {
        font-weight: 700;
        color: #fac8b2;
    }

    & span {
        display: block;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 26px;
        color: #fac8b2;
    }
}

.healthy__footer {
    margin-top: 50px;
    text-align: center;

    & p {
        display: inline-block;
        padding: 15px 30px;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid #fff;
        border-radius: 4px;
    }

    & span {
        display: block;
    }
}

@keyframes circle {
    0% {
        width: 200px;
        height: 200px;
        border-width: 10px;
    }

    100% {
        width: 710px;
        height: 710px;
        border-width: 1px;
        opacity: 0;
    }
}

@media (max-width: 1030px) {
    .healthy__media {
        max-width: 380px;

        &_left {
            max-width: 280px;
        }
    }

    .healthy__animation {
        margin-left: 75px;

        &_right {
            margin-left: 25px;
        }
    }

    .healthy__circle {
        width: 200px;
        height: 200px;

        &:nth-child(2) {
            animation-delay: 1s;
        }

        &:nth-child(3) {
            animation-delay: 2s;
        }

        &:nth-child(4) {
            animation-delay: 3s;
        }

        &:nth-child(5) {
            animation-delay: 4s;
        }

        &:nth-child(6) {
            animation-delay: 5s;
        }

        &:nth-child(7) {
            animation-delay: 6s;
        }

        &:nth-child(8) {
            animation-delay: 7s;
        }

        &:nth-child(9) {
            animation-delay: 8s;
        }

        &:nth-child(10) {
            animation-delay: 9s;
        }
    }

    @keyframes circle {
        0% {
            width: 200px;
            height: 200px;
        }

        100% {
            width: 500px;
            height: 500px;
            border-width: 1px;
            opacity: 0;
        }
    }
}

@media (max-width: 768px) {
    .healthy__box {
        flex-direction: column;
    }

    .healthy__media {
        order: 2;

        & span {
            font-size: 22px;
        }

        &_left {
            & span {
                top: 85px;

                &::before {
                    margin-left: -70px;
                }
            }
        }
    }

    .healthy__circle {
        opacity: .2;
    }

    .healthy__description {
        order: 1;
        margin-bottom: 30px;
    }

    @keyframes circle {
        0% {
            width: 200px;
            height: 200px;
            opacity: .2;
        }

        100% {
            width: 500px;
            height: 500px;
            border-width: 1px;
            opacity: 0;
        }
    }
}

@media (max-width: 480px) {
    .healthy__media {
        margin-right: 0;
    }

    .healthy__circle {
        display: none;
        animation: none;
    }
}
