
.why {
    position: relative;
}

.why__title {
    margin-bottom: 30px;
    font-size: 49px;
    line-height: 49px;
    text-align: center;

    & mark {
        display: block;
        color: #549186;
    }
}

.why__body {
    display: flex;
}

.why__box {
    flex: 0 0 50%;
}

.why__item {
    display: flex;

    & + & {
        margin-top: 30px;
    }

    &_right {
        justify-content: flex-end;
        margin-left: auto;
        text-align: right;
    }
}

.why__item-body {
    max-width: 270px;
}

.why__media {
    display: inline-block;
    width: 79px;
    height: 79px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 3px solid #fac8b2;
    border-radius: 3px;
}

.why__name {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;

    & span {
        display: block;
    }
}

.why__description {
    font-size: 15px;
}

.why__product {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    &::before {
        position: absolute;
        bottom: 35px;
        left: -70px;
        z-index: -1;
        width: 460px;
        height: 347px;
        content: '';
        background-image: url("../media/product-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1030px) {
    .why__product {
        max-width: 180px;

        &::before {
            position: absolute;
            left: -49px;
            width: 260px;
            height: 196px;
        }
    }

    .why__item-body {
        max-width: 240px;
    }
}

@media (max-width: 768px) {
    .why__product {
        position: relative;
        left: auto;
        bottom: auto;
        transform: translateX(0);
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    .why__body {
        justify-content: space-between;
    }

    .why__box {
        flex: 0 0 calc(50% - 15px);
    }

    .why__name {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .why__body {
        flex-direction: column;
    }

    .why__box {
        flex: 0 0 100%;
        margin-bottom: 30px;
    }

    .why__item {
        justify-content: center;
        text-align: center;
        padding: 30px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;

        & + & {
            margin-top: 20px;
        }
    }

    .why__item-body {
        max-width: 100%;
    }

    .why__name {
        margin-bottom: 5px;
    }

    .why__product {
        margin-top: 0;
    }
}
